<div class="container-fluid">
  <span class="titleBar row justify-content-end">
    <button id="createPuzzle"></button>
    <span class="col" id="welcome" *ngIf="selectedPuzzle === 'Select Puzzle'">Please Select a Puzzle to Begin</span>
    <select class="col-" [(ngModel)]="selectedPuzzle" (change)="onPuzzleSelection($event.target.value)">
      <option id="promptingSelector">Select Puzzle</option>
      <option *ngFor="let name of puzzles" id="{{name}}_selector">{{name}}</option>
    </select>
  </span>
  <h2 class="row justify-content-center" id="puzzleTitle">
    {{title}}
  </h2>
  <app-puzzle class="col justify-content-center" [puzzle]="puzzleContent"></app-puzzle>
  <app-puzzle-creator></app-puzzle-creator>
</div>


