body {
  width: 100%;
  margin: 0;
}

.titleBar {
  background-color: cornflowerblue;
  height: 2rem;
  font-size: 16pt;
  color: white;
}

.titleBarHeader {
  font-size: 20pt;
}

h2 {
  color: black;
}
