<div class="container-fluid">
  <span class="titleBar row justify-content-center titleBarHeader">MadLibs</span>
  <span class="titleBar row justify-content-around">
    <button  id="createPuzzle" (click)="createPuzzleTemplate()">Create New</button>
    <span>or</span>
    <select [(ngModel)]="selectedPuzzle" (change)="onPuzzleSelection($event.target.value)">
      <option id="promptingSelector">Select Puzzle</option>
      <option *ngFor="let name of puzzles" id="_{{name}}_selector">{{name}}</option>
    </select>
  </span>
  <app-puzzle-creator *ngIf="showCreator" ></app-puzzle-creator>
  <app-puzzle class="col justify-content-center" [title]="title" [puzzle]="puzzleContent"></app-puzzle>
</div>


